@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="hero">
    <div class="navbar">
        <img src="images/BlackAzureLogo.png" class="logo">
        <button type="button" name="button"> Sign Up</button>
    </div>
    <div class="content">
        <h1 class="header1">Welcome to </h1>
        <h1>Azure DevOps Applicaton Development<br>Cloud Computing Course <br>Demo Websites</h1>
        <button type="button">Take a Tour</button>
    </div>
    <div class="side-bar">
        <img src="images/Menu.png" class="menu">
        <div class="social-link">
            <img src="images/face.png" class="menu">
            <img src="images/tw.png" class="menu">
            <img src="images/ig.png" class="menu">

        </div>
    </div>
    <div class="Bubbles">
        <img src="images/bubble.png">
        <img src="images/bubble.png">
        <img src="images/bubble.png">
        <img src="images/bubble.png">
        <img src="images/bubble.png">
        <img src="images/bubble.png">
        <img src="images/bubble.png">
    </div>

</div>
